<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitSync</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
    <div id="login">
      <h1>FitSync Login</h1>
      <input type="text" id="username" placeholder="Username" />
      <input type="password" id="password" placeholder="Password" />
      <button onclick="login()">Login</button>
    </div>
  
    <div id="main-screen" class="hidden">
      <h1>Welcome to FitSync</h1>
      <nav>
        <button onclick="showSections('home')">Home</button>
        <button onclick="showSections('workouts')">Workouts</button>
        <button onclick="showSections('tracker')">Tracker</button>
      </nav>
  
      <div id="home">This is the Home page</div>
      <div id="workouts" class="hidden">Workout Page</div>
      <div id="tracker" class="hidden">Tracker Page</div>
    </div>
  
    <script src="/scripts/main.js"></script>
  </body>
</html>